.App {
  text-align: center;
}
body {
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Support {
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
}
.Shadow {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.footerShadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.border-gradient-to-r {
  border-image: linear-gradient(to right, #52b5b6, #123678);
  border-image-slice: 1;
  border-width: 1px; /* Adjust as needed */
  border-style: solid;
}
.blogsBg {
  background: linear-gradient(172deg, #c5e6e7 -0.26%, #fff 94.03%);
}
.earnBg {
  background: linear-gradient(180deg, #fff, #fff, #b4e8e8);
}
.chooseUsBg {
  background: linear-gradient(
    89.63deg,
    #dcf0f0 0.31%,
    #ffffff 48.45%,
    #c5e6e7 99.68%,
    #dcf0f0 99.68%
  );
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
